{% extends "layout.html.twig" %}

{% block title %}Add Wave credentials{% endblock %}

{% block content %}

<form action="#" method="post">
	{{form_start(etForm)}}
		{{form_row(etForm.clientid, {'label' : 'Client ID'}) }}
		{{form_row(etForm.clientsecret, {'label' : 'Client Secret'}) }}


	 <input type="submit" name="submit" value="Add credentials !" />
   {{form_end(etForm)}}
</form>
{% endblock %}
