{% extends "layout.html.twig" %}

{% block title %}Update Event{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Update Event
            </h1>

        </div>
    </div>

    <form action="#" method="post">
        {{form_start(eventForm)}}
        {{form_row(eventForm.name, {'label' : 'Name'}) }}
        {{form_row(eventForm.description, {'label' : 'Description'}) }}


        <input type="submit" name="submit" value="Update !" />
        {{form_end(eventForm)}}
    </form>
</div>
{% endblock %}
