{% extends "layout.html.twig" %}

{% block title %}Event{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Event
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/events">View all events</a></li>
                <li><a href="/createEvent">Create</a></li>
                <li class="active">Event</li>
            </ol>

        </div>
    </div>

    <form action="#" method="post">
        {{form_start(eventForm)}}
        {{form_row(eventForm.name, {'label' : 'Name'}) }}
        {{form_row(eventForm.description, {'label' : 'Description'}) }}


        <input type="submit" name="submit" value="Update !" />
        {{form_end(eventForm)}}
    </form>
</div>
{% endblock %}
