{% extends "layout.html.twig" %}

{% block title %}Regenerate Skyflow-Token{% endblock %}

{% block content %}

    <div class="alert alert-info">
      New Skyflow-Token : {{ user.skyflowToken }}
    </div>


{% endblock %}
