{% extends "layout.html.twig" %}

{% block title %}Skyflow-Token Gestion{% endblock %}

{% block content %}

   <center><button type="button" class="btn btn-primary" title="Regenerate Token" data-toggle="modal" data-target="#regenerate"><span class="glyphicon glyphicon-refresh"></span> Regenerate Token</button></center>

    <div class="modal fade" id="regenerate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                </div>
                <div class="modal-body">
                    Do you really want to regenerate Skyflow-Token ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="regenerateToken" class="btn btn-danger">Confirm</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}
