{% extends "layout.html.twig" %}

{% block title %}Wave Helper Json{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Wave API Helper
                </h1>
            </div>
        </div>

{{ results }}

    </div>

{% endblock %}
