{% extends "layout.html.twig" %}

{% block title %}Salesforce API Helper{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Salesforce API Helper
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Salesforce API Helper</li>
                </ol>
            </div>
        </div>
        {{ form_start(requestForm,  { 'attr': {'class': 'form-horizontal'} })}}
        {{ form_row(requestForm.Request, {'label': 'Request'}) }}
        <input type="submit" name="submit" id="submit" value="Send Request ! "/>
        {{ form_end(requestForm) }}


    </div>

{% endblock %}
