body { 
    padding-top: 60px;
    /*background-color :#E5E5E5;*/
}
/*.navbar {
    background-color: #21368B;
    vertical-align: middle;
}
.navbar-default .navbar-nav > li > a .navbar-default
.navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color : white;
}
.row{
    color:#B51A8A;
}*/
.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}


.viewTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}


label
{
	width: 150px;
}
textarea{
    vertical-align: middle;
}
 input,select,textarea {
	padding: 5px 10px;
	margin : 7px;
	min-width : 160px;
}

input[type=submit]{
	min-width : 100px;
	margin-top : 30px;
}

a.navbar-brand {
    padding: 5px 15px!important;
}
